# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds
[Ll]ibrary/
[Cc]ache/
[Oo]peration[Dd]umps/
sysinfo.txt
*.stackdump

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj
.vsconfig

# =======#
# Server #
# ====== #
!client/ShelterServerRuntime/**/*.sln
!client/ShelterServerRuntime/**/*.csproj
client/ShelterServerRuntime/**/bin/*
client/ShelterServerRuntime/**/obj/*

!client/SharedLogicService/**/*.sln
!client/SharedLogicService/**/*.csproj
client/SharedLogicService/**/bin/*
client/SharedLogicService/**/obj/*
client/SharedLogicService/**/out/*
client/SharedLogicService/**/*.pid

!client/SharedTournamentService/**/*.sln
!client/SharedTournamentService/**/*.csproj
client/SharedTournamentService/**/bin/*
client/SharedTournamentService/**/obj/*
client/SharedTournamentService/**/out/*
client/SharedTournamentService/**/*.pid

!client/SharedChatService/**/*.sln
!client/SharedChatService/**/*.csproj
client/SharedChatService/**/bin/*
client/SharedChatService/**/obj/*
client/SharedChatService/**/out/*
client/SharedChatService/**/*.pid

!client/SharedCacheService/**/*.sln
!client/SharedCacheService/**/*.csproj
client/SharedCacheService/**/bin/*
client/SharedCacheService/**/obj/*
client/SharedCacheService/**/out/*
client/SharedCacheService/**/*.pid

!client/SharedPvpService/**/*.sln
!client/SharedPvpService/**/*.csproj
client/SharedPvpService/**/bin/*
client/SharedPvpService/**/obj/*
client/SharedPvpService/**/out/*
client/SharedPvpService/**/*.pid

!client/refactoringServer/**/*.sln
!client/refactoringServer/**/*.csproj
client/refactoringServer/**/bin/*
client/refactoringServer/**/obj/*
client/refactoringServer/**/out/*
client/refactoringServer/**/*.pid

!client/SharedClanWarService/**/*.sln
!client/SharedClanWarService/**/*.csproj
client/SharedClanWarService/**/bin/*
client/SharedClanWarService/**/obj/*
client/SharedClanWarService/**/out/*
client/SharedClanWarService/**/*.pid

!client/BattleCalculatorService/**/*.sln
!client/BattleCalculatorService/**/*.csproj
client/BattleCalculatorService/**/bin/*
client/BattleCalculatorService/**/obj/*
client/BattleCalculatorService/**/out/*
client/BattleCalculatorService/**/*.pid


# ========================= #
# Resharper / Project Rider #
# ========================= #
.idea/
_ReSharper.Caches*

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes

ehthumbs.db
[Tt]humbs.db

# ===== #
# files #
# ===== #

*Plugins.zip*
/client/craftyBytes/generated
/client/craftyVoxelEngineCPP/Assets/craftyVoxelEngineCPP/Plugins/*
/client/module/craftyVoxelEngineCPP/Plugins/*
!/client/craftyVoxelEngineCPP/Assets/craftyVoxelEngineCPP/Plugins/**/*.mm
!/client/module/craftyVoxelEngineCPP/Plugins/**/*.mm
/cppVoxelEngine/EngineSource/EngineSource/Debug
/cppVoxelEngine/EngineSource/EngineSource/EngineSource.VC.VC.opendb
/cppVoxelEngine/EngineSource/EngineSource/EngineSource.VC.db
/cppVoxelEngine/EngineSource/EngineSource/Release
/cppVoxelEngine/EngineSource/EngineSource/x64
bundleIdentifier.txt*
ProjectSettings.asset
VoxelBoxes
VoxelCore.dll
VoxelCore.log
animatorMeta*
libVoxelCore.a
libVoxelCore.so
meta.*
renderHiearchyMeta*
symlinks.meta
symlinks/
**/newEngineVersion.zip
*.mcm
*.mcb
**/smcs.rsp
**/smcs.rsp.meta
**/mcs.rsp
**/mcs.rsp.meta
**/csc.rsp
**/csc.rsp.meta

!/client/ShelterGame/Assets/mcs.rsp

/client/miniGameCraft/Appodeal/
/client/hideandseek/Appodeal/

**/Assets/Mockups
**/Assets/Appodeal/Adapters
**/Assets/Appodeal/Adapters.meta
**/Assets/_Develop/Resources/langs/
**/Assets/_Develop/Resources/langs.meta
**/Assets/StreamingAssets.meta
**/Assets/StreamingAssets/
**/Assets/StreamingAssets_Android
**/Assets/StreamingAssets_Android.meta
**/Assets/_Develop/Resources/OfflineContentPaths.txt
**/Assets/_Develop/Resources/OfflineContentPaths.txt.meta
/client/miniGameCraft/nameTranslation.txt
**/Assets/StreamingAssetsAndroid*
**/Assets/StreamingAssetsStandalone*
**/Assets/_Art*
**/Bundles/*
**/Appodeal/Adapters
**/Appodeal.framework/Appodeal
**/Appodeal.framework/Appodeal.meta

**/StansAssets/Modules/*/xExamples*
**/StansAssets/Modules/*/Documentation*
**/StansAssets/Bundles/UltimateMobile/Examples*
!**/StansAssets/Bundles/*
**/Keystores/

# =============== #
# Users generated #
# =============== #
client/miniGameCraft/Assets/Mockups.meta
client/miniGameCraft/Assets/_Develop/Legacy/2/ContentData.meta
client/miniGameCraft/Assets/_Develop/Modules/PlayerEntity.meta
client/miniGameCraft/Assets/_Develop/Modules/PlayerEntity/ContentData.meta
#client/refactoting/Assets/Plugins/**/*.[ja]ar
#client/refactoting/Assets/Plugins/**/*.txt
#client/refactoting/Assets/Plugins/**/*.zip
#client/refactoting/Assets/Plugins/**/*.dex
#client/refactoting/Assets/Plugins/**/*.jpg
#client/refactoting/Assets/Plugins/**/*.unity
#client/refactoting/Assets/Plugins/**/*.wav
#client/refactoting/Assets/Plugins/**/*.png
#client/refactoting/Assets/Plugins/**/*.mm
#client/refactoting/Assets/Plugins/**/*.tiff
#client/refactoting/Assets/Plugins/**/*.ttf
#client/refactoting/Assets/Plugins/**/*.m
#client/refactoting/Assets/Plugins/**/*.mat
#client/refactoting/Assets/Plugins/**/*.prefab
#client/refactoting/Assets/Plugins/**/*.рус
client/refactoting/Assets/Plugins/**/*.*
!client/refactoting/Assets/Plugins/**/*.cs
!client/refactoting/Assets/Plugins/**/*.cs.meta
*.log
*.log.meta
client/UnityOBBDownloader/Assets/Plugins/**/Library/
client/UnityOBBDownloader/Assets/Plugins/**/Packages/
client/UnityOBBDownloader/Assets/Plugins/**/ProjectSettings/
client/UnityOBBDownloader/Assets/Plugins/**/src/unityOBBDownloader/.gradle/
client/UnityOBBDownloader/Assets/Plugins/**/src/unityOBBDownloader/build/
client/UnityOBBDownloader/Assets/Plugins/**/Temp/
client/UnityOBBDownloader/Assets/Plugins/**/UnityPackageManager/
client/UnityOBBDownloader/Assets/Plugins/**/*.meta


**/UnityPackageManager/manifest.json
BundleMeshAnalitycs.csv
HeapReport.json
/client/craftyEngineProject/ProjectSettings

**/Assets/Plugins/Editor/JetBrains
**/Assets/Plugins/Editor/JetBrains.meta


**/FyberPluginModule/Plugins/iOS/*
**/FyberPluginModule/Plugins/iOS.meta

**/FlurryPluginModule/Plugins/iOS/libFlurry.a
**/FlurryPluginModule/Plugins/iOS/libFlurry.a.meta

DeveloperSettings.txt
DeveloperSettings.txt.meta
**/Resources/DeveloperSettings/
**/Resources/DeveloperSettings.meta

/client/craftAndMagic/Assets/BuildReport
/client/craftAndMagic/Assets/BuildReport.meta
/client/craftAndMagic/ProjectSettings/ProjectVersion.txt

!mainTemplate.gradle

client/craftySymlinks/craftySymlinks.*
**/craftySymlinks/Plugin


**/CachedAssemblyScanner.cs*
/client/ShelterServerRuntime/Packages/
/client/symlinksCachedData.json
**/Resources/OfflineContentPaths.*
**/Resources/fullFilesList.*
**/Resources/missingFilesList.*
**/Resources/obsoleteFilesList.*
**/ModuleDependencies.info
/client/exporter/Assets/Editor/x64/Bakery
/client/exporter/Assets/Editor/x64/Bakery.meta
/client/exporter/Assets/BakeryLightmaps
/client/exporter/Assets/BakeryLightmaps.meta
client/module/SharedLogicOnlineModule/Resources/sharedLogicPrefix.txt
client/module/SharedLogicOnlineModule/Resources/sharedLogicPrefix.txt.meta
**/Properties/launchSettings.json
client/ShelterGame/Assets/Plugins/Editor.meta
**/MemoryCaptures/
/client/ShelterGame/slamf

**/UnityBuildReports*

**/Assets/Firebase*
**/Assets/Plugins/Android/FirebaseApp.androidlib*
**/Assets/Plugins/Android/FirebaseCrashlytics.androidlib*
**/Assets/GeneratedLocalRepo*

**/Assets/GoogleService-Info.*

**/Assets/Plugins/Android/res/
**/Assets/Plugins/Android/res.*

**/shelter_LM0_final.hdr
**/shelter_LMA1_final.hdr
**/BakeryLightmaps.meta
**/Assets/_Develop/Resources/AssetsPaths*
**/Assets/_Develop/Resources/ContentMapLengthsData*
**/Logs/ApiUpdaterCheck.txt
**/Resources/InappsList.txt
**/Resources/InappsList.txt.meta
**/log-chromium.txt~
client/ShelterGame/Assets/_Develop/code.meta
**/Packages/com.google*
**/client/module/SniperGameMain/3D Western Town/
*.dwlt
UserSettings/
**/ProjectSettings/EditorBuildSettings.asset
**/ProjectSettings/ShaderGraphSettings.asset
**/Assets/_Develop/Resources/Localizations
**/Assets/_Develop/Resources/langs
**/client/AdminConsole/

